
// Admin CSS
.admin{
  .heading{
    margin-bottom: 1em;
  }
}
.sidebar{
  background: $primary;
  min-height: 100vh;
  ul{
    padding: 2em 0;
    li{
      a{
        color: #fff;
        padding: 1em;
        display: block;
        font-weight: 600;
        display: flex;
        align-items: center;
      }
      a.active{
        background-color: #fff;
        color: $primary;
        border-radius: 100px;
        text-align: center;
        display: block;
      }
      img{
        max-height: 20px;
        width: auto;
        margin-right: 1em;
      }
    }
    li.logOut{
      color: #fff;
      padding: 1em;
      font-weight: 600;
      &:hover{
        cursor: pointer;
      }
    }
  }
}
  
.btn-pag {
  display: flex;
  padding-bottom: 1em;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  padding: .5em 2em;
  >div {
    width: 100%;
    float: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  select {
    margin-left: 1em;
    max-width: 120px;
    min-width: 80px;
  }
}
  .addBtn{
    background-color: #0c3aa9;
    color: #fff;
    border: none;
    border-radius: 5px;
    min-width: 150px;
    padding: 0.6em 1em;
    text-align: center;
  }
  .addBtn:hover{
    color:#fff;
  }
  .admin table th, .admin table thead tr td{
    background-color: $primary;
    color: #fff;
  }
  .admin table thead tr td:first-child{
    border-radius: 100px 0 0 100px;
  }
  .admin table thead tr td:last-child{
    border-radius: 0 100px 100px 0;
  }
  .admin table tr:first-child th, .admin table thead tr td, .admin table tbody tr:first-child td{
    border: none;
  }
  .page-numbers {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    max-width: 300px;
    overflow: hidden;
    float: right;
    margin-left: 1em;
    >li {
      margin-right: 3px;
      user-select: none;
      cursor: pointer;
      padding: 5px 14px;
      font-size: 16px;
      background: $primary;
      color: #fff;
      border-radius: 5px;
    }
    >li.active {
      background: $primary;
      color: #fff;
    }
  }
  .admin ul li {
    text-align: center;
    font-weight: 600;
  }
  .editIcon{
    img{
     max-width: 25px;
    }
    &:hover{
      cursor: pointer;
    }
  }
  .tableImg{
    max-width: 100px;
    padding-left: 5px;
  }
  // Admin CSS
  /* Switch Button */
  .filter{
    margin-bottom: 2em;
    font-size: 13px;
  }
  .filterCover{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 5px 0;
  }
  .onoffswitch {
      // position: relative; 
      width: 56px;
    //   -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
      display: flex;
      align-items: center;
      justify-content: space-between;
  }
  .onoffswitch-checkbox {
      display: none;
  }
  .onoffswitch-label {
      display: block;
      overflow: hidden; 
      cursor: pointer;
      border: 2px solid #FFFFFF; 
      border-radius: 20px;
      margin: 0;
      position: relative;
  }
  .onoffswitch-inner {
      display: block; width: 200%; margin-left: -100%;
      transition: margin 0.3s ease-in 0s;
  }
  .onoffswitch-inner:before, .onoffswitch-inner:after {
      display: block; float: left; width: 50%; height: 22px; padding: 0; line-height: 22px;
      font-size: 12px; color: black; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
      box-sizing: border-box;
  }
  .onoffswitch-inner:before {
      content: "ON";
      padding-left: 6px;
      background-color: $primary; color: #FFFFFF;
      font-size: 10px;
      text-align: left;
  }
  .onoffswitch-inner:after {
      content: "OFF";
      background-color: #dc3545; color: #FFFFFF;
      text-align: right;
      font-size: 10px;
      padding: 0 5px 0 10px;
  }
  .onoffswitch-switch {
      display: block; 
      width: 12px; margin: 5px;
      background: #FFFFFF;
      position: absolute; 
      top: 0;
      height: 12px;
      right: 30px;
      border: 2px solid #FFFFFF; 
      border-radius: 20px;
      transition: all 0.3s ease-in 0s; 
  }
  .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
      margin-left: 0;
  }
  .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
      right: 0px; 
  }
  .commentSwitch{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .commentSwitch .onoffswitch {
    margin-left: auto;
  }
  /* Switch Button */
  
.editIcon img{
  max-width: 25px;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
  background: #00000082;
  form{
    .col-sm-3, .col-sm-4, .col-sm-12{
      margin-bottom: 0.5em;
    }
  }
}
.modal-dialog{
  background: #fff;
  top: 10%;
  position: absolute;
  max-width: 75%;
  width: 70%;
  left: 0;
  right: 0;
  margin: 2em auto;
  border-radius: 5px;
  max-height: 80%;
  overflow: hidden;
}
.closeModal{
  position: absolute;
  top: 1em;
  right: 1em;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  font-weight: 900;
  color: $primary;
  font-size: 1.5em;
  &:hover{
    cursor: pointer;
  }
}
.modal textarea{
  min-height: 80px;
}
.preview, .tableImg{
  max-width: 120px;
}
input[readonly]{
  background-color:#e6e6e6;
}
label{
  font-weight: 600;
  margin-bottom: 0;
}
.admin{
  form{
    input, textarea{
      margin-bottom: 0.5em;
    }
  }
}
.previewImg{
  max-width: 120px;
  margin-right: 5px;
}
.delIcon{
  max-width: 20px;
  &:hover{
    cursor: pointer;
  }
}
.table-responsive {
  padding: 0 1em;
}
.sortBy{
  max-width: 300px;
    float: right;
    margin-right: 1em;
}
.arrayRemove{
  display: flex;
  align-items: center;
  justify-content: center;
  img{
    max-width: 20px;
    margin-left: 10px;
    &:hover{
      cursor: pointer;
    }
  }
}