@import '_variables.scss';
img{
    width: 100%;
    height: auto;
}
.container{
    width: 80%;
    max-width: 80%;
}
.navOnTop{
    .swiper-button-prev, .swiper-button-next{
        top: 0;
        margin-top: 1em;
        &:after{
            font-size: 15px;
            background: $orange;
            padding: 5px;
            color: #fff;
            border-radius: 3px;
        }
    }
    .swiper-container{
        padding-top: 3em;
    }
}
.imgScale{
    overflow: hidden;
    &:hover img{
        transform: scale(1.05);
        transition: transform 0.6s ease-out;
    }
}
.heading{
    text-align: center;
}
a{
    &:hover{
        text-decoration: none;
    }
}