@import '_variables.scss';
img{
    width: 100%;
    height: auto;
}
.container{
    width: 80%;
    max-width: 80%;
}
.swiper-button-prev, .swiper-button-next{
    &:after{
        font-size: 15px;
        background: $primary;
        padding: 5px;
        color: #fff;
        border-radius: 3px;
    }
}

.navOnTop{
    .swiper-button-prev, .swiper-button-next{
        top: 0;
        margin-top: 1em;
    }
    .swiper-container{
        padding-top: 3em;
    }
}
.imgScale{
    overflow: hidden;
    &:hover img{
        transform: scale(1.05);
        transition: transform 0.6s ease-out;
    }
}
.heading{
    text-align: center;
}
a{
    &:hover{
        text-decoration: none;
    }
}
.my-div{
    text-align: center;
    width: 100%;
    margin: 1em 0;
}
.amitBtn{
    a{
        color: #fff;
        &:hover{
            color: $primary;
        }
    }
    background-color: $primary;
    color: #fff;
    border: 1px solid $primary;
    border-radius: 5px;
    min-width: 200px;
    padding: 10px;
    text-align: center;
    &:hover{
        background-color: #fff;
        color: $primary;
        transition: 0.5s all;
        cursor: pointer;
        a{
            color: $primary;
        }
    }
    
}
.logo{
    img{
        max-width: 150px;
    }
}
.middle{
    display: flex;
    >a{
        background: $action;
        display: block;
        padding: 5px 10px;
        margin-right: 10px;
        border-radius: 2px;
        .fa{
            color: #fff;
            font-size: 18px;
        }
        &:hover{
            background: $primary;
            transition: .5s all;
        }
    }
}
.loading{
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
        max-width: 150px;
        height: auto;
    }
}