$grey: gray;
$primary: #2f8344;
$lightGreen: #77c8a1;
$action: #f56e07;
$text: #000;
@font-face {
    font-family: 'bree';
    src: url(../fonts/BreeRegular.otf) format('.otf');
}
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');