@import '_variables.scss';
@import '_swiper.scss';
@import '_semantic.scss';
@import '_special.scss';
@import '_admin.scss';

body{
    // font-family: 'bree';
    font-family: 'Roboto', sans-serif;
}
p, ul li{
    line-height: 2em;
    text-align: justify;
    margin-bottom: 5px;
    font-size: 15px;
}
ul{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
}
button, button:focus, input, input:focus{
    outline: 0;
}
.navbar{
    background-color: #fff;
    border-bottom: 2px solid $primary;
    .nav-link, .navbar-brand{
        color: $text;
    }
}
.whiteLogo{ display: none; }
.ban-fix{
    background-color: $primary !important;
    color: #fff;
    transition: 0.5s all;
    .whiteLogo{ display: block; }
    .greenLogo{ display: none; }
    .nav-link{
        color: #fff;
    }
}
.footer{
    background: $primary;
    padding: 30px 0;
    color: white;
    text-align: left;
    .container{
        max-width: 95%;
        .footer-content{
            .underline{
                width: 80px;
                height: 2px;
                background: $primary;
                margin-bottom: 20px;
            }
            h3{
                text-align: left;
            }
            ul{
                padding-left: 0;
                li{
                    padding: 5px 0;
                    list-style-type: none;
                    a{
                        color: white;
                        text-decoration: none;
                        transition: 0.3s ease-in-out;
                        &:hover{
                            color: $primary;
                        }
                    }
                }
            }
            .fa{
                margin-right: 10px;
                transition: 0.3s ease-in-out;
                &:hover{
                    color: $primary;
                }
            }
        }
    }
    .container-fluid{
        padding: 0 2em;
    }
}
.footer-bottom{
    background: $action;
    color: white;
    display: flex;
    justify-content: center;
    padding: 5px 0;
    .bottom-content{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 98%;
        a{
            color: #fff;
        }
    }
}
.home-banner{
    .banner{
        position: relative;
        .overlay{
            position: absolute;
            height: 100%;
            width: 100%;
            background: rgba(0,0,0,0.3);
        }
    }
}
.who{
    padding: 25px 0;
    h2{
        text-align: center;
        font-weight: bold;
    }
    .row{
        .col-sm-8{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}
.our-vendors{
    h2{
        text-align: center;
        font-weight: bold;
    }
    .testimony{
        .vendors-img{
            max-width: 180px;
            margin: 0 auto;
        }
        .fa-quote-right{
            text-align: right;
            display: block;
        }
        h5{
            font-weight: bold;
            color: $text;
            text-align: right;
        }
        p{
            padding: 0 1em;
            margin: 0;
        }
        .col-sm-5{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}
.our-products{
    text-align: center;
    padding: 25px 0;
    .row{
        padding: 20px 0;
        .col-sm-4{
            margin-bottom: 1em;
        }
        .card{
            margin: 15px 0;
            box-shadow: 0 0 5px #aaa;
            transition: 0.2s ease-in-out;
            border: none;
            img{
                max-width: 150px;
                margin: 1rem auto 0;
            }
            cursor: pointer;
            &:hover{
                box-shadow: 0 0 20px #aaa;
            }
            .card-body{
                p{
                    text-align: center;
                }
                ul{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }
            }
        }
    }
}
.auth{
    padding: 30px 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 17, 255, 0.2)),  url('../images/auth-bg.jpg');
    background-position: center;
    background-size: cover;
    .col-sm-5{
        background: white;
        padding: 30px;
        border-radius: 5px;
       h2, p{
        text-align: center;
       }
    }
    .row{
        padding: 25px 0;
    }
    a{
        color: $primary;
        text-decoration: none;
    }
    .gofb{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 25px 0;
        & > button{
            margin-right: 10px;
        }
        .kep-login-facebook.metro{
            height: 68px;
            border-radius: 3px;
            font-size: 12px;
        }
    }
    form{
        input[type=text], input[type=password] {
            width: 100%;
            padding: 12px;
            margin: 8px 0;
            border: none;
            background: #f1f1f1;
        } 
        .amitBtn{
            background: $primary;
            color: white;
            padding: 10px 50px;
            margin: 15px 0;
            border: 1px solid $primary;
            cursor: pointer;
            width: 100%;
            transition: 0.3s ease-in-out;
            &:hover{
                background: white;
                border: 1px solid $primary;
                color: $primary;
            }
        }
        button[type=button]{
            max-width: 100px;
        }
    }
}
.products{
    padding: 50px 0;
    .product-title{
        text-align: center;
    }
    .product-details{
        .fa{
            color: $primary;
            &::before{
                margin-right: 5px;
            }
        }
        .product-price{
            color: $action;
            font-weight: bold;
        }
        .quantity-input{
            .input-group{
                align-items: center;
                input{
                    max-width: 100px;
                }
            }
            .cart-btn{
                margin-left: 25px;
                text-decoration: none;
                padding: 6px 40px;
                background: white;
                border: 2px solid $primary;
                border-radius: 3px;
                color: $primary;
                transition: 0.3s ease-in-out;
                &:hover{
                    background: $primary;
                    color: white;
                }
            }
        }
        .description{
            margin: 25px 0;
            .nav-tabs{
                border: none;
                .nav-item{
                    border: none;
                    .nav-link{
                        color: black;
                        transition: 0.2s ease-in-out;
                        border: 2px solid transparent; 
                        padding: 8px 0;
                        margin-right: 20px;                      
                        &:focus{
                            border-bottom: 2px solid $primary;
                        }
                    }
                }
            }
            .tab-content{
                margin: 10px 0;
            }
        }
    }
    .product-image{
        display: flex;
        justify-content: center;
        align-items: center;
    }

}
.admin{
    padding: 30px 0;
}
.mathLogo{
    img{
        max-width: 200px;
    }
}
.emailPhone{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #fff;
    padding-bottom: 10px;
    li{
        margin-bottom: 10px;
        a{
            color: #fff;
            i{
                color: #fff;
                font-size: 15px;
                margin-right: 10px;
            }
        }
    }
}
.links{
    display: flex;
    justify-content: space-between;
    ul{
        li{
            a{
                color: #fff;
                display: block;
                padding: 5px 0;
            }
        }
    }
}
.featured{
    background: $action;
    padding: 1em 0.5em;
    border-radius: 5px;
    margin-bottom: 2em;
    h2{
        text-align: center;
        font-size: 1.5em;
        margin-bottom: 2em;
    }
    .col-sm-3{
        text-align: center;
        img{
            max-height: 50px;
            width: auto;
            margin-bottom: 10px;
        }
    }
}
.amitBtnLight{
    background-color: $lightGreen;
    border: 1px solid #000;
    min-width: 200px;
    padding: 10px;
    text-align: center;
    width: fit-content;
    font-weight: 700;
}
.amitBtnRound{
    background-color: $primary;
    border-radius: 20px;
    padding: 10px 1em;
    color: #fff;
    text-transform: uppercase;
    min-width: 150px;
    border: none;
    margin-bottom: 1em;
    &:hover{
        color: #fff;
    }
}
.authTwo{
    position: relative;
    padding-bottom: 150px;
    .mainBody{
        margin-top: -50px;
    }
    .topRow{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding-right: 1em;
        .banana{
            max-width: 450px;
        }
        .logo{
            padding: 2em;
            max-width: 250px;
        }
    }
    .col-sm-6{
        max-width: 700px;
        margin: 0 auto;
        p{
            font-size: 20px;
            color: $primary;
            text-align: center;
            font-family: 'Roboto', sans-serif;
            font-weight: 700;
        }
        .authBox{
            background-color: $lightGreen;
            padding: 1em;
            padding: 2em;
            border-radius: 25px;
            margin-bottom: 2em;
            ul{
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 1.5em;
                li{
                    margin: 0 .5em;
                    padding: .5em;
                    font-size: 22px;
                    color: #fff;
                    &:hover{
                        cursor: pointer;
                    }
                }
                li.active{
                    border-bottom: 3px solid #fff;
                }
            }
            p, a{
                color: #fff;
            }
        }
        form{
            label{
                color: #fff;
            }
            input{
                border: none;
                width: 100%;
                background: transparent;
                border-bottom: 2px solid #fff;
                color: #fff;
                padding-bottom: 5px;
                font-family: 'Roboto', sans-serif;
                margin-bottom: 1em;
                outline: none;
                border-radius: 0;
                box-shadow: none;
                &:focus{
                    outline: none;
                    box-shadow: none;
                }
            }
            // .amitBtnLight{
            //     display: flex;
            //     align-items: center;
            //     justify-content: center;
            //     margin: 0 auto 2em;
            //     img{
            //         max-width: 12px;
            //         margin-left: 10px;
            //     }
            // }
            a{
                color: #fff;
            }
        }
        h3{
            text-align: center;
            margin: 0;
            margin-bottom: 2em;
            font-family: 'Roboto', sans-serif;
            font-size: 30px;
            font-weight: 900;
        }
        .check{
            text-align: center;
            button{
                background-color: #fff;
                padding: 10px 20px;
                border: 2px solid #000;
                font-family: 'Roboto', sans-serif;
                
            }
            
        }
        .gofb{
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 1em 0;
            img{
                max-width: 40px;
                margin: 0 1.5em;
                &:hover{
                    cursor: pointer;
                }
            }
        }
        .gstore{
            p{
                color: $primary;
                margin: 0;
                line-height: 1.2em;
                font-weight: 500;
            }
            .store{
                display: flex;
                align-items: center;
                justify-content: center;
                a{
                    img{
                        max-width: 20px;
                        margin-right: 10px;
                    }
                }
            }
        }
    }
    .cotton{
        max-width: 400px;
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: -1;
    }
}
// Responsive CSS
@media (max-width:1300px) {
    .authTwo{
        .topRow .banana {
           max-width: 400px;
        }
        .mainBody {
            margin-top: -100px;
        }
    }
}
@media (max-width:991px) {
    .authTwo{
        .topRow .banana {
           max-width: 300px;
        }
        .mainBody {
            margin-top: -30px;
        }
        
    }
}
@media (max-width:640px) {
    .authTwo{
        .topRow{
            .banana {
              max-width: 225px;
            }
            .logo {
                padding: 1em;
                max-width: 150px;
            }
        }
        .mainBody {
            margin-top: 0;
        }
        .col-sm-6{
            p{
                font-size: 16px;
                line-height: 1.5em;
            }
            .authBox {
                padding: 1em;
            }
            .gofb img {
                max-width: 25px;
                margin: 0 1.5em;
            }
            h3 {
                font-size: 25px;
                margin-bottom: 1em;
            }
        }
        
    }
}
@media (max-width:440px) {
    .authTwo{
        .topRow{
            .banana {
              max-width: 150px;
            }
        }
        .mainBody {
            margin-top: 0;
        }
    }
}